{% extends 'base.html.twig' %} {% block body %} {% if app.user %}
<div class="content">
  <!-- Quick Overview -->
  <div class="row">
    <div class="col-6 col-lg-3">
      <a
        class="block block-rounded block-link-shadow text-center"
        href="be_pages_ecom_orders.html"
      >
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-primary">
            {{ commandesTotalEnCours }}
          </div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">Commande</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <a
        class="block block-rounded block-link-shadow text-center"
        href="javascript:void(0)"
      >
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-success">33%</div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">Profit</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <a
        class="block block-rounded block-link-shadow text-center"
        href="javascript:void(0)"
      >
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-dark">{{ ClientTotal }}</div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">Client</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <a
        class="block block-rounded block-link-shadow text-center"
        href="javascript:void(0)"
      >
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-dark">0</div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">Montant total</p>
        </div>
      </a>
    </div>
  </div>
  <!-- END Quick Overview -->

  <!-- Orders Overview -->
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">Orders Overview</h3>
      <div class="block-options">
        <button
          type="button"
          class="btn-block-option"
          data-toggle="block-option"
          data-action="state_toggle"
          data-action-mode="demo"
        >
          <i class="si si-refresh"></i>
        </button>
      </div>
    </div>
    <div class="block-content block-content-full">
      <!-- Chart.js is initialized in js/pages/be_pages_ecom_dashboard.min.js which was auto compiled from _js/pages/be_pages_ecom_dashboard.js) -->
      <!-- For more info and examples you can check out http://www.chartjs.org/docs/ -->
      <div style="height: 400px">
        <canvas id="js-chartjs-overview"></canvas>
      </div>
    </div>
  </div>
  <!-- END Orders Overview -->

  <!-- Top Products and Latest Orders -->
  <div class="row items-push">
    <div class="col-xl-6">
      <!-- Top Products -->
      <div class="block block-rounded h-100 mb-0">
        <div class="block-header block-header-default">
          <h3 class="block-title">Les commandes</h3>
          <div class="block-options">
            <button
              type="button"
              class="btn-block-option"
              data-toggle="block-option"
              data-action="state_toggle"
              data-action-mode="demo"
            >
              <i class="si si-refresh"></i>
            </button>
          </div>
        </div>
        <div class="block-content">
          <table
            class="table table-borderless table-striped table-vcenter fs-sm"
          >
            <tbody>
              {% for commanderecent in commanderecent %}

              <tr>
                <td class="text-center" style="width: 100px">
                  <a class="fw-semibold">{{ commanderecent.description }}</a>
                </td>
                <td>
                  <a href="#">{{ commanderecent.prixcommande }} F</a>
                </td>
                <td class="d-none d-sm-table-cell text-center">
                  {{commanderecent.created | date('d/m/y')}}
                </td>
                <td class="d-none d-sm-table-cell text-center">
                  <a
                    href="{{
                      path('app_detailcommande_show', {
                        idcommande: commanderecent.id
                      })
                    }}"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-alt-secondary"
                      data-bs-toggle="tooltip"
                      title="Modifier le consommable"
                    >
                      <i class="fa fa-fw fa-eye"></i>
                    </button>
                  </a>
                </td>
              </tr>
			  {% else %}
			  <tr>
				
				<td colspan="2" class="text-center">
				  <span class="badge bg-danger">Aucune commande trouvée</span>
				</td>
			  
			  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END Top Products -->
    </div>
    <div class="col-xl-6">
      <!-- Latest Orders -->
      <div class="block block-rounded h-100 mb-0">
        <div class="block-header block-header-default">
          <h3 class="block-title">Listes des clients</h3>
          <div class="block-options">
            <button
              type="button"
              class="btn-block-option"
              data-toggle="block-option"
              data-action="state_toggle"
              data-action-mode="demo"
            >
              <i class="si si-refresh"></i>
            </button>
          </div>
        </div>
        <div class="block-content">
          <table class="table table-borderless table-striped table-vcenter">
            <tbody>
			{% for clients in clients %}
				
              <tr>
                <td class="fw-semibold text-center fs-sm" style="width: 100px">
                  <a >{{ clients.nomclient}}</a>
                </td>
                <td class="d-none d-sm-table-cell fs-sm">
                  <a >{{ clients.adresse}}</a>
                </td>
                <td>
                  <span class="badge bg-success">{{ clients.statut}}</span>
                </td>
              
              </tr>
			  {% else %}
			  <tr>
				
				<td colspan="2" class="text-center">
				  <span class="badge bg-danger">Aucun client trouvé</span>
				</td>
			  
			  </tr>
			{% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
      <!-- END Latest Orders -->
    </div>
  </div>
  <!-- END Top Products and Latest Orders -->
</div>
{% else %}
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="top-50 start-50">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Authentification requise !</h5>
            <p class="card-text">
				Veuillez vous connecter pour accéder au tableau de bord. </br> Si vous n'avez pas de compte, vous pouvez vous inscrire.

            </p>
            <a href="{{ path('app_login') }}" class="btn btn-primary"
              >Se connecter</a
            >
            ou
            <a href="{{ path('app_register') }}" class="btn btn-primary"
              >S'inscrire</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
