{% extends 'base.html.twig' %}

{% block body %}
	
	

	<!-- Page Content -->
	<div class="content">
		<div class="row justify-content-center">
			<div class="col-md-8">

				{{form_start(form)}}
				<!-- Payment -->
				<div class="block block-rounded">
					<div class="block-header block-header-default">
						<h3 class="block-title">Detail de la commande</h3>
					</div>
					<div class="block-content block-content-full">
						<div class="mx-0 mx-md-6 mx-xl-8">
						<div class="mb-4">
								<label class="form-label" for="checkout-cc-number">Description de la conception</label>
								{{form_row(form.typeconception)}}
							</div>
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-name">Date de la livraison</label>
								{{form_row(form.dureconception)}}
							</div>
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-number">Designation</label>
								{{form_row(form.nomimpression)}}
							</div>
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-name">Type de support</label>
								{{form_row(form.consommable)}}
							</div>
							<div class="row ">
							<label class="form-label" for="checkout-cc-expiry">Dimensions</label>
								<div class="col-6 ">
									<label class="form-label" for="checkout-cc-expiry">largeur(en metre)</label>
									{{form_row(form.xdimension)}}
								</div>
								<div class="col-6">
									<label class="form-label" for="checkout-cc-cvc">hauteur(en metre)</label>
									{{form_row(form.ydimension)}}
								</div>
							</div>
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-name">Quantite</label>
								{{form_row(form.nombrepapier)}}
							</div>


						</div>
					</div>
				</div>
				<!-- END Payment -->

				<!-- Submit Form -->
				<div class="text-end push">
					<button type="submit" class="btn btn-sm btn-primary">
						<i class="fa fa-check me-1"></i>
						Enregister la commande
					</button>
				</div>
				<div class="text-end push">
					<button type="submit" class="btn btn-sm btn-primary">
						<i class="fa fa-check me-1"></i>
						Payement
					</button>
				</div>
				<!-- END Submit Form -->

			</div>
			{{form_end(form)}}
		</div>
	</div>
</div>
<!-- Search -->{% endblock %}
